.history_s {
    position: absolute;
    top: 50px;
    left: 30px;
    width: 70px;
    height: 600px;
    overflow-y: auto;
    border-style: solid;
    border-width: 1px;
}

.container_left {
    position:absolute;
    left: 130px;
    top:50px;
    width: 580px;
    height: 600px;
    border-style: solid;
    border-width: 1px;
}
.container_left_in {
    position:absolute;
    left: 0px;
    top:0px;
    width: 100%;
    height: 460px;
}

.container_right {
    position:absolute;
    right: 30px;
    top:50px;
    width: 560px;
    height: 600px;
    border-style: solid;
    border-width: 1px;
}

.option_input {
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 230px;
    border-style: solid;
    border-width: 0.5px;
    overflow-y: scroll;
}

.output_changer {
    position: absolute;
    left:0px;
    top:580px;
}

.option_output {
    position: absolute;
    left:0px;
    top:230px;
    width: 100%;
    height: 350px;
    border-style: solid;
    border-width: 0.5px;
    overflow: hidden;
}

.option_output_full {
    overflow-y: scroll;
}

/*.option_row0 {
    position:absolute;
    left: 0px;
    width: 132.5px;
    height:100%;
    border-style: none;
    border-width: 0.8px;
}
.option_row1 {
    position:absolute;
    left: 132.5px;
    width: 132.5px;
    height:100%;
    border-style: none;
    border-width: 0.8px;
}
.option_row2 {
    position:absolute;
    left: 265px;
    width: 132.5px;
    height:100%;
    border-style: none;
    border-width: 0.8px;
}
.option_row3 {
    position:absolute;
    left: 397.5px;
    width: 132.5px;
    height:100%;
    border-style: none;
    border-width: 0.8px;
}
*/
.option_row0 {
    position:absolute;
    left: 0px;
    width: 176.6667px;
    height:100%;
    border-style: none;
    border-width: 0.8px;
}
.option_row1 {
    position:absolute;
    left: 176.6667px;
    width: 176.6667px;
    height:100%;
    border-style: none;
    border-width: 0.8px;
}
.option_row2 {
    position:absolute;
    left: 353.34px;
    width: 176.6667px;
    height:100%;
    border-style: none;
    border-width: 0.8px;
}
.option_list_element {
    position:relative;
    width: 176.6667px;
    height:165px;
    border-style: solid;
    border-width: 0.8px;
}

.option_list_element_invis {
    position:relative;
    width: 132.5px;
    height:132.5px;
}

.level1 {
    background-color: brown;
    position:absolute;
    left:10px;
    top:100px;
    height:300px;
    width:600px;
    border-style: solid;
    border-width: 1px;
    -webkit-transform: rotateY(45deg) rotateZ(-2deg) rotateX(-2.5deg);
    transform: rotateY(45deg) rotateZ(-2deg) rotateX(-2.5deg);
    z-index: 4;
}

.backside {
    background-color: brown;
    position:absolute;
    left:-20px;
    top:98px;
    height:300px;
    width:600px;
    border-style: solid;
    border-width: 1px;
    -webkit-transform: rotateY(45deg) rotateZ(-2deg) rotateX(-2.5deg);
    transform: rotateY(45deg) rotateZ(-2deg) rotateX(-2.5deg);
}

.left_side {
    background-color: brown;
    position:absolute;
    left: 59px;
    top: 110px;
    height: 300px;
    width: 45px;
    border-style: solid;
    border-width: 1px;
    -webkit-transform: rotateY(-50deg) rotateZ(2.8deg) rotateX(-2.3deg);
    transform: rotateY(-50deg) rotateZ(2.8deg) rotateX(-2.3deg);
    z-index: 3;
}

.right_side {
    background-color: brown;
    position:absolute;
    left: 485px;
    top: 87px;
    height: 300px;
    width: 45px;
    border-style: solid;
    border-width: 1px;
    -webkit-transform: rotateY(-50deg) rotateZ(2.8deg) rotateX(-2.3deg);
    transform: rotateY(-50deg) rotateZ(2.8deg) rotateX(-2.3deg);
    z-index: 1;
}

.top {
    background-color: brown;
    position: absolute;
    left: 0px;
    top: 64px;
    height: 70px;
    width: 600px;
    border-style: solid;
    border-width: 1px;
    transform: rotateY(47deg) rotateZ(-2deg) rotateX(87deg);
    z-index: 3;
}

.information_box {
    position: absolute;
    left: 0px;
    top: 460px;
    height: 140px;
    width: 100%;
    border-top: solid;
    border-width: 1px;
}

.information_box_out {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 70%;
}

.information_box_icon_frame {
    position: absolute;
    left: 70%;
    top: 0px;
    height: 100%;
    width: 30%;
}

.level2 {
    background-color: red;
    position:relative;
    height:150px;
    width:100px;
}

.model_container {
    position:relative;
    width:100%;
    height: 100%;
}

.icon {
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: brown;
}

.option_functions_invis {
    position: absolute;
    left: 240px;
    width: 270px;
    display: none;
}

.option_functions_vis {
    position: absolute;
    left: 240px;
    width: 270px;
    display: inline;
}

.option_purpose {
    position: absolute;
    left: 5px;
    top: 100px;
    width: 180px;
    height: 80px;
    overflow-y: scroll;
}

.start_button {
    position: absolute;
    top: 200px;
}

.log_button {
    position: absolute;
    top: 200px;
    left: 110px;
}

.save_button {
    position: absolute;
    top: 200px;
    left: 50px;
}

.implicid_data_out {
    position: absolute;
    top: 70px;
    left: 210px;
    width: 270px;
    font-size: 9px
}



.reset_button_vis {
    display: inline;
    position: absolute;
    left: 390px;
    width: auto;
}

.reset_button_invis {
    display: none;
}

.exit_button {
    font-size: 6px;
}

.implicid_headline {
    font-size: 14px;
}

.height_container {
    position: absolute;
    left: 0px;
    width: 130px;
}

.width_container {
    position: absolute;
    left: 130px;
    width: 130px;
}

.depth_container {
    position: absolute;
    left: 260px;
    width: 130px;
}

.grasp_select {
    display: inline;
    position: absolute;
    top: 0px;
    left: 165px;
    height: 28px;
    z-index: 5;
}

.material_select {
    display: inline;
    position: absolute;
    top: 0px;
    left: 255px;
    height: 28px;
    z-index: 5;
}

.change_button {
    display: inline;
    position: absolute;
    top: 0px;
    left: 355px;
    height: 28px;
    z-index: 5;
}

.d_options_select {
    display: inline;
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    z-index: 5;
}

.invis {
    display: none;
}

.Alder {
    background-image: url(images/Alder.jpg);
}
.Apple {
    background-image: url(images/Apple.jpg);
}
.Beech {
    background-image: url(images/Beech.jpg);
}
.Birch {
    background-image: url(images/Birch.jpg);
}
.Cherry {
    background-image: url(images/Cherry.jpg);
}
.Elm {
    background-image: url(images/Elm.jpg);
}
.Mahogany {
    background-image: url(images/Mahogany.jpg);
}
.Maple {
     background-image: url(images/Maple.jpg);
 }
.Oak {
    background-image: url(images/Oak.jpg);
}
.Plum {
    background-image: url(images/Plum.jpg);
}
.Spruce {
    background-image: url(images/Spruce.jpg);
}
.Wenge {
    background-image: url(images/Wenge.jpg);
}
.Zebrano {
    background-image: url(images/Zebrano.jpg);
}